
body{
    padding-top: 4em;
    padding-bottom: 3em;
}

h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
span{
    margin-left: 1em;
}

.img-thumbnail.click-image{
   transform: scale(2,2);
    position: fixed;
    background-color: black;
   /* width: 80%;
    height: 80%;*/
  /* margin-bottom: 5em;*/

    opacity: 1;

}

#informations{
  /*  margin-bottom: 3em;*/
}
#caroussel{
    color: black;

}
/****************************** image plan du louvre page Informations *************************************/
#plan
{
   /* cursor: zoom-in;*/
}


/********************************* Tableau tarifaire ******************************************************************/

.tab_ {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tab_ td, #price th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tab_ tr:nth-child(even){background-color: #f2f2f2;}

.tab_ tr:hover {background-color: #ddd;}

.tab_ th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

/**********************************************************************************************************************/

.container{
    margin-top: 3em;
}

#error404{
    margin-top: 8em;
}


/***********************************************************************************************************************/
.navbar{

    background-color:darkslategrey;
}


/*************** css vue orderDescription.html.twig ************************************************************/
#achatBillet{
    /*margin-top: 2em;*/
}

.btn{
    margin-bottom: 4em;
}

/*************************** css mentions légales ****************************************************************/

/************* CSS barre de navigation ******************************************************************************/


img {
    padding: 7px 14px;
   /* width: 25%;*/
}


.navbar-header a {
    color:white;
    font-size: 1.75em;

}
/*
.navbar-header{
    width: 60%;
}
*/
#myNavbar a{
    color: white;
    margin-right: 2em;
}

#reserBillet{
    margin-top: 2em;
}


/******************* CSS formulaire ************************************************************************/
#cd_louvrebundle_purchaseorder_visitDate{
    width: 145px;
}
/*#cd_louvrebundle_purchaseorder_numberTicketsDesired{
    margin-left: 1.75em;
}*//*
section .ticketDescription{
    background-color: lightgreen;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
   }*/
.form-horizontal .checkbox{
    border-bottom: 4px dashed darkslategrey;
    margin-top: 0.5em;
}

/**************************** css vue paymentValided.html.twig **************************************************/
#div_1{
   /* margin-top: 6em;*/
}

/************************* css footer *************************************************************************/
footer{
    background-color: darkslategrey;
}

.social{
    color: white;
}
/************************ css page Informations ***********************************************************/

#informations{
   /* margin-top: 6em;*/
}

footer p,a {
    color: white;
    padding-top: 0.5em;
    margin-left: 2em;
}
a:hover{
    font-weight: bolder;
}

footer a:hover{
    color:red;
    font-weight: bolder;

}
/********************* css legalNotice **********************************************************************/

#legalNotice{
   /* margin-top: 5em;
    margin-bottom: 5em;*/
   }


/************************ css error404 ********************************************************************/

#img404{
    margin:auto ;
}
/**************************css error500 ***********************************************************************/
#img500{
    margin:auto ;
}


/*************************Réseaux sociaux*****************************************************************************/
/*
.rs{
    width: 50px;
    height: 32px;
    vertical-align: center;
}*/
/*
span{
    color:white;
}*/
/********************************* Média queries ***************************************************************/


@media screen and (max-width: 576px) {
    #reserBillet {
        font-size: 1em;
    }
}

@media screen and (max-width: 768px) {
    #reserBillet {
        font-size: 1em;
    }
    .form-control{
        width: 90%;
        margin: auto;
    }

    label{
        margin-left: 1.5em;
    }
}

@media screen and (max-width: 768px) {
    .rs,.social {
        display: inline-block;
        width: 50px;
        height: 32px;
        vertical-align: center;
    }

@media screen and (max-width: 1097px) {
        .navbar-header a {
            font-size: 1em;
        }
    }

}
