{% block tabPrice %}

        <label for="priceTab">Notre grille tarifaire</label>
        <table class=" table  table-border table-responsive-sm col-md-12 tab_" >

            <tr>
                <th>Tarif</th>
                <th>Enfant</th>
                <th>Normal</th>
                <th>Sénior</th>
                <th>Réduit</th>
            </tr>
            <tr>
                <td>Journée</td>
                <td>8 €</td>
                <td>16 €</td>
                <td>12 €</td>
                <td>10 €</td>
            </tr>
            <tr>
                <td>Demi-Journée</td>
                <td>4 €</td>
                <td>8 €</td>
                <td>6 €</td>
                <td>5 €</td>
            </tr>
        </table>

    <div style="width: 100%">
        <p>
            - L'entrée est gratuite pour les enfants de moins de 4 ans<br>
            - Tarif enfant à partir de 4 ans et jusqu'à 12 ans (exlus)<br>
            - Tarif normal à partir de 12 ans<br>
            - Tarif sénior à partir de 60 ans<br>
            - Tarif réduit dans certaine condition (étudiant,employé du musée,d'un service du ministère de la culture,
            militaire...)

        </p>
    </div>
{% endblock %}
