{% block tabSchedule %}

    <label for="tabSchedule">Horaires du  musée du Louvre</label>
    <div class="table-responsive col-sm-12 col-md-12 col-lg-12">
        <table id="tabSchedule" class=" table  table-border table-responsive-sm col-md-12 tab_">

            <tr>
                <th>Jour</th>
                <th>Horaire</th>
            </tr>
            <tr>
                <td>Lundi</td>
                <td>9h-18h</td>
            </tr>
            <tr>
                <td>Mardi</td>
                <td>Fermé</td>
            </tr>
            <tr>
                <td>Mercredi</td>
                <td>9h-21h45</td>
            </tr>
            <tr>
                <td>Jeudi</td>
                <td>9h-18h</td>
            </tr>
            <tr>
                <td>Vendredi</td>
                <td>9h-21h45</td>
            </tr>
            <tr>
                <td>Samedi</td>
                <td>9h-18h</td>
            </tr>
            <tr>
                <td>Dimanche</td>
                <td>Fermé</td>
            </tr>
        </table>
    </div>
    <div>
        <p>- L'évacuation des salles débute à 17 h 30 ou 21 h 30 les jours de nocturne.</p>
    </div>
    
{% endblock %}