{% extends '::base.html.twig' %}

{% block title %}Informations Musée du Louvre{% endblock %}

{% block body %}

<div class="container" id="informations">
   <div class="row">
      <div class="col-md-6">
          {% include '@CDLouvre/Home/tabPrice.html.twig' %}
      </div>
      <div class="col-md-6">
          {% include '@CDLouvre/Home/tabSchedule.html.twig' %}
      </div>
   </div>
   <div class="row well">
      <div class="col-md-6">

               <pre>
                 <h2>Adresse Musée du Louvre</h2><br>
      <span><i class="glyphicon glyphicon-earphone"></i></span><span>01 40 20 50 50</span><br>
     <span><i class="glyphicon glyphicon-map-marker"></i><a href="https://www.pagesjaunes.fr/carte?bloc_id=8N2X32BC0001&no_sequence=1&code_rubrique=44203300" target="_blank" id="caroussel">Place du Caroussel</a></span>
                            <br><p>            75058 Paris Cedex 01</p>
               </pre>


      </div>
       <div class="col-md-6 img-responsive">
          <div>
               <img src="{{ asset('images/large_plan_louvre.jpg') }}"  class="img-thumbnail img-responsive" id="plan" alt="plan Louvre">


          </div>
       </div>
   </div>
</div>


{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}